@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
ol,
dl {
  margin: 0;
  padding: 0;
}


/* theme colors */
:root {
  --primary-color: #47b2e4;
  --secondary-color: #37517e;
  --gray-color: #444444;
}

/* color classes */
.primary-bg-color {
  background-color: var(--primary-color);
}

.secondary-bg-color {
  background-color: var(--secondary-color);
}

.gray-bg-color {
  background-color: var(--gray-color);
}

.light-gray-bg-color {
  background-color: #e8e8e8;
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color) !important;
}

.gray-color {
  color: var(--gray-color);
}

/* Heading */
.heading {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: .5rem;
}

/* Sub Heading */
.sub-heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

/* common button */
.common-btn {
  color: white;
  padding: 7px 12px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

/* common button hover effect */
.common-btn.primary-bg-color:hover {
  color: white;
  background-color: #47b2e4e0;
  transition: all 0.3s ease-in-out;
}
.common-btn.secondary-bg-color:hover {
  color: white;
  background-color: #31476d;
  transition: all 0.3s ease-in-out;
}

.common-btn.gray-bg-color:hover {
  color: white;
  background-color: #444444af;
  transition: all 0.3s ease-in-out;
}


/* white bg common button */
.white-button {
  padding: 3px 10px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  background-color: #fff;
  color: var(--secondary-color);
  font-size: 13px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.white-button:hover {
  background-color: #f1f3f4;
}

/* header css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 20px;
  background-color: #fff;
  color: white;
  box-shadow: rgb(50 50 93 / 7%) 0px 6px 12px -2px, rgb(0 0 0 / 13%) 0px 3px 7px -3px;
  margin-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.brand-logo img {
  width: 80px;
}

.hamburger {
  cursor: pointer;
}

.hamburger img {
  width: 20px;
}
.sidebar {
  width: 250px;
  height: calc(100vh - 52.3px);
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  left: -250px;
  top: 52.3px;
  z-index: 10000;
  transition: .3s;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #000;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s;
  padding: 7px 10px;
}

.sidebar-link:hover {
  background-color: var(--secondary-color);
  color: #fff;
  font-weight: 600;
  padding-left: 20px;
}

.logout {
  color: #ff4c4c;
  font-weight: 600;
  border-radius: 0;
}

.logout:hover {
  background-color: #1f1f1f;
}
.toggle-sidebar {
  left: 0;
}


/* filterable select css */
.custom-select-wrapper {
  position: relative;
  width: 250px;
  font-family: Arial;
}

#customInput {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
}

.filter-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 150px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: white;
  overflow-y: auto;
  display: none;
  z-index: 1000;
}

.dropdown div {
  padding: 8px;
  cursor: pointer;
}

.dropdown div:hover {
  background-color: #f0f0f0;
}

/* remove arrow of number input */
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}






.date-picker,
.search-input,
.select-input {
  padding: 5px 12px;
  border: 1px solid #e2e8f0;
  border-radius: 6px;
  font-size: 11px;
  font-weight: 600;
  min-width: 170px;
}

input,
textarea {
  padding: 5px 12px;
  border: 1px solid #e2e8f0;
  border-radius: 6px;
  font-size: 11px;
  font-weight: 600;
  width: 100%;
}

input:focus {
  border: 2px solid var(--primary-color);
  outline: none;
}

.input-wrapper {
  position: relative;
  margin: 10px 0;
  max-width: 400px;
}

.input-wrapper input,
.input-wrapper select {
  width: 100%;
  padding: 6px 12px;
  font-size: 11px;
  font-weight: 600;
  border: 1px solid #e2e8f0;
  border-radius: 6px;
  outline: none;
}

input:not[type="radio"] {
  border: 1px solid #888 !important;
  border-radius: 6px !important;
  outline: none !important;
  padding: 5px 12px !important;
  font-size: 14px !important;
}

input[type="radio"] {
  width: auto;
}

.input-wrapper label {
  position: absolute;
  top: -10px;
  left: 12px;
  background: white;
  padding: 0 6px;
  font-size: 11px;
  font-weight: 600;
  color: #555;
}


.select-wrapper {
  position: relative;
  margin: 10px 0;
  max-width: 400px;
}

.select-wrapper select {
  width: 100%;
  padding: 4px 12px;
  font-size: 11px;
  font-weight: 600;
  border: 1px solid #e2e8f0;
  border-radius: 6px;
  outline: none;
  background-color: white;
  appearance: none;
}

.select-wrapper label {
  position: absolute;
  top: -10px;
  left: 12px;
  background: white;
  padding: 0 6px;
  font-size: 11px;
  font-weight: 600;
  color: #555;
  pointer-events: none;
}

/* Optional: Add a custom arrow */
.select-wrapper::after {
  content: "▼";
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #555;
  font-size: 12px;
}

.nav-tabs .nav-link {
  border-color: transparent;
  font-size: 12px;
  padding: 5px 12px;
  color: var(--primary-color) !important;
}

.nav-tabs .nav-link.active {
  color: var(--primary-color) !important;
  border-bottom: 2px solid var(--primary-color) !important;
  background-color: unset !important;
}

/* new patient checkbox */
.form-check-label {
  font-size: 12px;
  font-weight: 600;
}

.form-check-input {
  padding: 7px !important;
}

.form-check.form-check-inline {
  display: inline-flex !important;
  align-items: center;
  margin-bottom: 0 !important;
}

.btn {
  padding: 5px 12px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
}


/* bootstrap accordian custom css */
.accordion-button {
  padding: 10px;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.accordion-button:focus {
  box-shadow: unset;
}

.accordion-button:not(.collapsed) {
  color: #fff;
  box-shadow: none;
  background-color: var(--secondary-color);
}
.accordion-button:not(.collapsed)::after {
  background-image: url('../assets/angle-up.png');
    filter: invert(0);
}
.accordion-button::after {
  background-image: url('../assets/angle-up.png');
  filter: invert(1);
}

/* table */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 3px !important;
  text-align: left;
  border-bottom: 1px solid #e2e8f0;
  white-space: nowrap;
}

th {
  padding: 5px !important;
  background-color: #f8fafc !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  color: #1e293b !important;
}

td {
  font-size: 11px;
  color: #475569dc !important;
  font-weight: 500;
}
.header-row {
  position: sticky;
  top: 0;
}

.no-data-row td {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  padding: 20px 0;
}

/* border right seprater */
.border-right-seprster {
  border-right: 1.5px solid #ccc;
}

/* Patient avatar */
.patient-avatar {
  width: 50px;
  height: 50px;
  background: #47b2e4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #fff;
  font-weight: bold;
  margin-right: 18px;
  position: relative;
}

/* .patient-avatar::after {
  content: "";
  border: 2px solid #47b2e4;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
} */
@media (max-width: 540px) {
  .patient-avatar {
    width: 34px;
    height: 34px;
    font-size: 18px;
  }
}

.patient-info {
  flex-grow: 1;
}

.patient-name {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.patient-contact {
  color: #666;
  margin-bottom: 0.25rem;
}

.small-text {
  font-size: 12px;
}


/* Modal */
.modal .common-btn {
  padding: 3px 12px;
}

.nursing-modal {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-heading {
  font-size: 15px;
  font-weight: 600;
  color: #000;
}

.nursing-modal-dialog {
  max-width: 800px;
}

.modal-header {
  font-size: 16px;
  padding: 5px;
}

.form-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.form-row input,
.form-row select {
  padding: 6px;
  font-size: 14px;
  flex: 1;
}

.editor-toolbar {
  border: 1px solid #ccc;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.editor-toolbar button {
  padding: 4px 6px;
  cursor: pointer;
  font-size: 13.33px;
  font-weight: 400;
  border: 1px solid #000;
  border-radius: 4px;
}

.editor-toolbar button.active {
  background-color: var(--primary-color);
  color: #fff;
  border-color: var(--primary-color);
}

.editor {
  border: 1px solid #ccc;
  min-height: 200px;
  padding: 10px 30px;
  border-top: none;
  margin-bottom: 15px;
  outline: none;
}






/* switch */
.form-switch .form-check-input {
  width: 30px;
  height: 16px;
}

.form-switch .form-check-input:focus {
  border: none;
}

/* customized scrollbar css */
/* Scrollbar Track */
::-webkit-scrollbar {
  width: 2px;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background-color: #47b2e4;
  border-radius: 2px;
}

/* Scrollbar Track background */
::-webkit-scrollbar-track {
  background: #f0f0f0;
}

/* Firefox-specific styles */
* {
  scrollbar-width: thin;
  /* Closest to 2px */
  scrollbar-color: #47b2e4 #f0f0f0;
  /* thumb color and track color */
}


/* checkbox 19 */
.checkbox-wrapper-18 .round {
  position: relative;
}

.checkbox-wrapper-18 .round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  width: 20px;
  display: block;
}

.checkbox-wrapper-18 .round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 4.8px;
  left: 6px;
  opacity: 0;
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  width: 10px;
}

.checkbox-wrapper-18 .round input[type="checkbox"] {
  visibility: hidden;
  display: none;
  opacity: 0;
}

.checkbox-wrapper-18 .round input[type="checkbox"]:checked+label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.checkbox-wrapper-18 .round input[type="checkbox"]:checked+label:after {
  opacity: 1;
}
