/* Dashboard CSS */

.filters {
    background: white;
    padding: 0 20px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.filter-group {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.radio-group {
    display: flex;
    gap: 15px;
    padding: 5px 10px;
}

.radio-item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 11px;
    font-weight: 600;
}

.table-container {
    max-height: 86vh;
    overflow-x: auto;
    background: white;
    border-radius: 8px;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); */
}

.phone-number {
    color: #2563eb;
    display: flex;
    align-items: center;
    gap: 4px;
}

.status {
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 500;
    display: inline-block;
}

.status-due {
    background-color: #fee2e2;
    color: #dc2626;
}

.status-paid {
    background-color: #dcfce7;
    color: #16a34a;
}

.actions {
    position: relative;
}

.actions-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 10px;
}

.dropdown {
    display: none;
    position: absolute;
    right: 0;
    background: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    min-width: 150px;
    z-index: 10000;
}

.dropdown.show {
    display: block;
}

.dropdown a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #1e293b;
    font-size: 14px;
}

.dropdown a:hover {
    background-color: #f1f5f9;
}


.pagination {
    color: #64748b;
    font-size: 14px;
}

/* Dashboard responsive css */
@media (max-width: 768px) {
    .date-picker,
    .search-input,
    .select-input {
        width: 100%;
    }

    .radio-group {
        flex-wrap: wrap;
    }
}
@media (max-width: 600px) {
    .filter-group {
        flex-direction: column;
        align-items: stretch;
    }
}

/* bed avalibility css */

.select-input {
    min-width: 120px;
}
.bed {
    padding: 3px 0;
    border-radius: 8px;
    color: #fff;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bed h2 {
    padding: 0 5px 3px;
    font-size: 11px;
    font-weight: 600;

}

.bed p {
    font-size: 11px;
    font-weight: 500;
    padding: 2px 5px 0;
    border-top: 1.5px solid #fff;
    text-transform: uppercase;
}

.bed-in-maintain {
    background-color: #fd7e14;
}

.overflow-bed-info {
    max-height: 110px;
    overflow: auto;
}
.bed-status {
    width: 10px;
    height: 10px;
    border-radius: 100px;
}
.bed-status-text {
    font-size: 12px;
    display: inline-block;
}
.bg-orange {
    background-color: #fd7e14;
}

.patient-card {
    width: 100%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
    background: #47b2e4;
    color: white;
    padding: 2px 16px;
    font-size: 11px;
    font-weight: bold;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

.card-body {
    padding: 10px;
}

.patient-name {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    margin-bottom: 5px;
}
.patient-name h3,
.patient-name p {
    font-size: 12px;
    font-weight: 600;
    color: #000;
}
.patient-name p {
    font-weight: 500;
    color: #757575;
}
.patient-name p span {
    color: #000;
}
.info-row {
    font-size: 11px;
    font-weight: 600;
    color: #333;
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 10px;
}

.tool-icon {
    width: 20px;
    height: 20px;
    opacity: 0.7;
    cursor: pointer;
}

.tool-icon:hover {
    opacity: 1;
}
.header-patient-card {
    font-size: 11px;
    font-weight: 600;
    background-color: #000;
    padding: 10px;
    color: #fff;
}
.actions {
    position: relative;
    margin-top: -4px;
}

.actions-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 0 10px;
}
.bed-availability-dropdown {
    display: none;
    position: absolute;
    right: 0;
    bottom: 100%;
    background: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    min-width: 200px;
    z-index: 10;
}

.bed-availability-dropdown.show {
    display: block;
}

.bed-availability-dropdown a {
    display: block;
    padding: 4px 15px;
    text-decoration: none;
    color: #1e293b;
    font-size: 12px;
    font-weight: 600;
}

.bed-availability-dropdown a:hover {
    background-color: #f1f5f9;
}


/* nursing station css */
.nursing-station-body .list-group span {
    font-size: 12px;
    font-weight: 500;
    color: #000;
}
.nursing-station-body .list-group .nav-link {
    width: 100%;
    border-radius: 0;
}
.nursing-station-body .list-group .nav-link.active {
    background-color: var(--heading-bg-color);
}
.nursing-station-body .list-group .my-sidebar-item.active span {
    color: #fff;
    font-weight: bold;
}
.nursing-station-body .list-group {
    overflow: auto;
    height: calc(100vh - 122px);
}
.nursing-station-body .list-group div:hover {
    background-color: var(--heading-bg-color);
}
.nursing-station-body .list-group div:hover span {
    color: #fff;
}
.nursing-station-body .left-angle {
    width: 30px;
    height: 30px;
    display: flex;  
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 100;
}
.nursing-station-body .left-angle.active img {
    transform: rotate(180deg);
}
.nursing-station-body .left-angle img {
    width: 12px;
    height: 12px;
}
.nursing-station-body .table-container {
    max-height: calc(100vh - 122px);
}
/* IPD initial assessment css */
