 .bed {
      border-radius: 8px;
      color: #fff;
      margin: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 115px;
    }

    .bed h2 {
      font-size: 11px;
      font-weight: 600;
      color: #000;
      margin-top: 5px;
    }

    .bed p {
      font-size: 11px;
      font-weight: 500;
      color: #000;
      text-transform: uppercase;
    }

    .bed-status {
      width: 10px;
      height: 10px;
      border-radius: 100px;
    }

    .bed-status-text {
      font-size: 12px;
      display: inline-block;
    }

    .bg-orange {
      background-color: #fd7e14;
    }